<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>PW.</h1>

        <nav>
            <ul>
                <li>Faculdade</li>
                <li>Projetos</li>
                <li>Tecnologias</li>
                <li>Competências</li>
                <li>TFCs</li>
                <li>Alunos</li>
                <li>Professores</li>
                <li>Sobre Esta Aplicação</li>
            </ul>
        </nav>

        <main>

            {% block content %}
            {% endblock %}

        </main>
    </header>
</body>
</html>