{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-brands/css/uicons-brands.css'>

    
    <link rel="stylesheet" href="{% static 'portfolio/styles/style-geral.css' %}">
    {% block css %}
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'portfolio/styles/sobre_aplicacao.css' %}">
    
    <link rel="shortcut icon" href="{% static 'img/image/letra-g.png' %}" type="image/x-icon">

    <title>Portfolio</title>
</head>

<body>
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <header>
                <section>
                    <div class="icones">
                        <i class="fi fi-rr-site-alt"></i>
                        <h2>PW.</h2>
                    </div>
                    <nav>
                        <ul class="mostrarMenu">
                            <li><a href="{% url 'desenvolvedor' %}">Desenvolvedor</a></li>
                            <li><a href="{% url 'faculdade' %}">Faculdade</a></li>
                            <li><a href="{% url 'tfcs' %}">TFCs</a></li>
                            <li><a href="{% url 'projetos' %}">Projetos</a></li>
                            <li><a href="{% url 'tecnologias' %}">Tecnologias</a></li>
                            <li><a href="{% url 'competencias' %}">Competências</a></li>
                            <li><a href="{% url 'formacoes' %}">Formações</a></li>
                            <li><a href="/pokemon-api/docs#/" target="_blank">API Pokemon</a></li>
                            <li><a href="{% url 'sobre_aplicacao' %}">Sobre Esta Aplicação</a></li>
                        </ul>
                    </nav>

                    <button class="hamburguer"><i class="fi fi-rr-menu-burger"></i></button>

                    <div class="botoes-header">
                        {% if user.is_authenticated %}
                            <a class="botao-login" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="botao-login" href="{% url 'login' %}">Login</a>
                            <a class="botao-registrar" href="{% url 'registo' %}">Junta-te</a>
                        {% endif %}
                        <a class="botao-github" href="https://github.com/giuseppemazze0/django" target="_blank"><i class="fi fi-brands-github"></i></a>
                    </div>
                </section>
            </header>

            {% block content %}
            {% endblock %}

        </div>
    </div>

    <script type="module" src="{% static 'portfolio/scripts/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/ScrollSmoother.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>