{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/styles/faculdade.css' %}">
{% endblock %}

{% block content %}

<main class="main-faculdade">

    <section class="cabecalho">
        <img class="imagem-faculdade" src="{% static 'img/image/faculdade.avif' %}"
            alt="Imagem vista da rua da faculdade Lusofona de Lisboa">
        <h1>Universidade Lusófona - Centro Universitário de Lisboa</h1>
    </section>

    <div class="menu-cards">
        <div class="card">
            <a href="#quem-somos">
                <img src="{% static 'img/image/quem-somos.png' %}" alt="Imagem da frente da faculdade Lusofona">
                <h4>Quem Somos <span>></span></h4>
            </a>
        </div>

        <div class="card">
            <a href="#licenciatura">
                <img src="{% static 'img/image/licenciatura.png' %}"
                    alt="Imagem de varias pessoas trabalhando em diferentes areas">
                <h4>Licenciatura <span>></span></h4>
            </a>
        </div>

        <div class="card">
            <a href="#mais-info">
                <img src="{% static 'img/image/mais-info.png' %}" alt="Mais informacao para acessar o site da Lusofona">
                <h4>Mais Info <span>></span></h4>
            </a>
        </div>
    </div>

    <section id="quem-somos">
        <div class="conteudo">
            <img src="{% static 'img/image/quem-somos.png' %}" alt="Imagem da frente da faculdade Lusofona">

            <div class="texto">
                <h3>Quem Somos</h3>

                <p>Uma das maiores universidades privadas de Portugal.</p>
                <p>A Universidade Lusófona é uma instituição de ensino superior privado pertencente ao Grupo
                    Lusófona.
                    Destaca-se pela oferta diversificada de cursos nas áreas das engenharias, saúde, ciências
                    sociais,
                    comunicação, gestão, artes, direito e tecnologias.</p>
                <p>A instituição está localizada na cidade de Lisboa, em Portugal, na morada Campo Grande, nº 376,
                    1749-024
                    Lisboa, encontrando-se numa zona de fácil acesso e bem servida por transportes públicos.</p>
                <p>Fundada em 1987, a instituição é uma universidade privada localizada em Lisboa, Portugal. O seu
                    principal
                    idioma de ensino é o português e o seu campus encontra-se na cidade de Lisboa.</p>

                <a target="_blank"
                    href="https://www.ulusofona.pt/?gad_source=1&gad_campaignid=387221185&gbraid=0AAAAADeEAm8aDQW4K3ECKNLgq4zKc21zy&gclid=Cj0KCQjwguLSBhDLARIsAH-yPrGQUMgUGN6ygt8Y5Ij-C-7JsEljLjzk17kGtOiP5ul-_aILzvzZArcaArZsEALw_wcB">Visitar
                    Site</a>
            </div>
        </div>

        <div class="destaque">
            <p>A universidade dispõe de diversas infraestruturas de apoio ao ensino e à aprendizagem, incluindo uma
                biblioteca universitária, laboratórios de informática e de engenharia, auditórios, espaços de estudo
                e instalações desportivas, proporcionando aos estudantes um ambiente completo para o desenvolvimento
                académico e pessoal.</p>
        </div>
    </section>

    <section id="licenciatura">
        <h3>Licenciaturas</h3>

        <div class="cards">
            <div class="card-legal">
                <i class="fi fi-rr-display-code"></i>
                <p>Engenharia Informática</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rr-doctor"></i>
                <p>Ciências da Saúde</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rs-loan"></i>
                <p>Gestão e Economia</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rr-balance-scale-right"></i>
                <p>Direito</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-sr-drafting-compass"></i>
                <p>Arquitetura</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rs-users-speaking"></i>
                <p>Comunicação</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rs-insight-head"></i>
                <p>Psicologia</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rr-customize-computer"></i>
                <p>Artes e Design</p>
            </div>

            <div class="card-legal">
                <i class="fi fi-rc-menu-dots"></i>
                <p>Entre muitos outros</p>
            </div>
        </div>
    </section>

    <section id="mais-info">
        <h3>Contatos</h3>

        <div class="conteudo">
            <address>
                Campo Grande, 376<br>
                1749-024 Lisboa<br>
                Portugal
            </address>
            <p>
                <strong>Telefone:</strong> +351 217 515 500
            </p>
            <p>
                <strong>Email:</strong> info@ulusofona.pt
            </p>
            <p>
                <strong>Website:</strong>
                <a href="https://www.ulusofona.pt" target="_blank">
                    www.ulusofona.pt
                </a>
            </p>
        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/scripts/faculdade.js' %}"></script>
{% endblock %}