{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/styles/restaurante.css' %}">
{% endblock %}

{% block content %}
<main class="main">
    <h1>Receitas Favoritas</h1>

    {% for utilizador in utilizadores %}

    <hr>

    <h2>{{ utilizador.nome }}</h2>

    <ul>
        {% for receita in utilizador.favoritas.all %}
        <li>{{ receita.nome }}</li>
        {% empty %}
        <li>Não possui receitas favoritas.</li>
        {% endfor %}
    </ul>

    {% empty %}

    <p>Não existem utilizadores registados.</p>

    {% endfor %}
</main>
{% endblock %}