{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/styles/formacao.css' %}">
{% endblock %}


{% block content %}
<main class="main-formacao">
    <div class="titulo">
        <h1>Formações <span>( {{ formacoes|length }} )</span></h1>

        {% if is_gestor %}
        <a class="criarFormacao botaoFormacao" href="{% url 'nova_formacao' %}">+</a>
        {% endif %}
    </div>

    <section class="formacoes">
        {% for formacao in formacoes %}
        <section class="formacao">
            {% if is_gestor %}
            <div class="user">
                <a class="deletar botaoFormacao" href="{% url 'apagar_formacao' formacao.id %}">-</a>
                <a class="editar botaoFormacao" href="{% url 'editar_formacao' formacao.id %}"><i class="fi fi-rr-file-edit"></i></a>
            </div>
            {% endif %}

            <div class="cabecalho">
                <h3>{{ formacao.nome }}</h3>
                <p><i class="fi fi-ss-house-building"></i> {{ formacao.instituicao }}</p>
                <p>{{ formacao.nome }}</p>
            </div>

            <div class="texto">
                <p>{{ formacao.descricao }}</p>
            </div>
            

            <div class="datas">
                <p><i class="fi fi-sr-clock-three"></i>Início - {{ formacao.data_inicio }}</p>
                <p><i class="fi fi-rr-clock-three"></i><strong>Fim</strong> - {{ formacao.data_fim }}</p>
            </div>
        </section>
        {% empty %}
        <div class="semFormacao">
            <p>Sem formações</p>
            <img src="{% static 'img/image/triste.avif' %}" alt="Boneco Triste">
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}