{% extends 'portfolio/base.html' %}

{% block content %}

<h2>TFCs</h2>

{% for tfc in tfcs %}

<h3>{{ tfc.titulo }}</h3>

{% for autor in tfc.autores.all %}
    <p>{{ autor.nome }}</p>
{% empty %}
    <p>Sem autores</p>
{% endfor %}

{% for orientador in tfc.orientadores.all %}
    <p>{{ orientador.nome }}</p>
{% empty %}
    <p>Sem orientador</p>
{% endfor %}

<p>{{ tfc.licenciatura }}</p>
<p>{{ tfc.sumario }}</p>
<p>{{ tfc.link_pdf }}</p>
<p>{{ tfc.imagem }}</p>
<p>{{ tfc.palavras_chave }}</p>
<p>{{ tfc.areas }}</p>

{% for tecnologia in tfc.tecnologias.all %}
    <p>{{ tecnologia.nome }}</p>
{% empty %}
    <p>Sem tecnologias</p>
{% endfor %}

<p>{{ tfc.rating }}</p>

{% endfor %}

{% endblock %}