{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/styles/tecnologia.css' %}">
{% endblock %}

{% block content %}
<main class="main-tecnologia">
    <div class="titulo">
        <h1>Tecnologias <span>( {{ tecnologias|length }} )</span></h1>

        {% if is_gestor %}
        <a class="criarTecnologia botaoTecnologia" href="{% url 'novo_projeto' %}">+</a>
        {% endif %}
    </div>

    <section class="tecnologias">
        <img class="mascara" src="{% static 'img/image/fundo-tec.jpg' %}"
            alt="Uma pessoa com a mão estentida tentando agarrar um mundo digital.">

        <div class="superior"></div>

        <div class="inferior"></div>
    </section>

</main>
{% endblock %}


{% block scripts %}
<script>
const tecnologias = [
{% for tecnologia in tecnologias %}
{
    id: {{ tecnologia.id }},
    nome: "{{ tecnologia.nome|escapejs }}",

    {% if tecnologia.logo %}
    logo: "{{ tecnologia.logo.url }}",
    {% else %}
    logo: null,
    {% endif %}

    website: "{{ tecnologia.link_website_oficial }}"
},
{% endfor %}
];
</script>

<script src="{% static 'portfolio/scripts/tecnologia.js' %}"></script>
{% endblock %}