.main-sobre {
    max-width: 1200px;
    width: 100%;
    padding-bottom: 40px;
    margin: auto;

    .botao {
        display: flex;
        gap: 12px;
        width: fit-content;
        padding: 14px 28px;
        border: 1px solid white;
        border-radius: 4px;
        font-weight: bold;
        text-decoration: none;
        word-spacing: 4px;
        background-color: #439ead;
        border-color: rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.8);
        transition: .3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    h3 {
        font-size: 28px;
        margin-bottom: 24px;
    }

    h4 {
        margin-bottom: 12px;
    }

    .cabecalho {
        position: relative;
        width: 100%;
        min-width: 800px;
        height: fit-content;
        min-height: fit-content;
        padding: 0;


        img {
            width: 100%;
            object-fit: contain;
        }

        .conteudo {
            position: absolute;
            z-index: 1;
            top: clamp(20px, 7vw, 60px);
            left: clamp(12px, 5vw, 48px);
        }

        .destaque {
            width: fit-content;
            padding: 2px 4px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            background-color: rgba(255, 255, 255, 0.6);
            color: rgba(0, 0, 0, 0.9);
        }

        h1 {
            font-size: clamp(40px, 5vw, 60px);
            color: black;
        }

        .texto {
            max-width: 40%;
            width: 100%;
            margin: 32px 0;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.9);
        }

        .botoes {
            display: flex;
            gap: 20px;

            a {
                i {
                    display: flex;
                }

                &:first-child {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: black;
                }

                &:last-child {
                    background-color: rgba(255, 255, 255, 0.2);
                    color: black;
                }
            }
        }
    }

    section {
        padding: 12px 20px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 52px 20px;
        padding: 0 20px;
        margin: 40px 0;

        i {
            display: flex;
            font-size: 60px;
        }

        .card {
            display: flex;
            align-items: center;
            gap: 28px;
            min-width: 300px;
            width: 28%;

            div {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h3 {
                    margin: 0;
                    font-size: 20px;
                }

                p {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }

    .arquitetura-django {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0;

        .superior {
            display: flex;
            justify-content: space-between;

            .esquerda {
                width: 30%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    list-style-type: circle;
                    list-style-position: inside;

                    p {
                        margin-top: 4px;
                        font-size: 14px;
                    }
                }
            }

            .direita {
                width: 65%;

                .fluxo {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 16px;

                    .card {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 22px;
                            left: -17px;
                            width: 34px;
                            height: 2px;
                            background-color: rgba(0, 0, 0, 0.3);
                        }

                        &:first-child::after {
                            display: none;
                        }

                        i {
                            display: flex;
                            font-size: 20px;
                            padding: 12px;
                            border: 2px solid #439EAD;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .modelacao {
        margin: 20px 0;

        .inferior {
            margin-top: 20px;
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

    .tecnologias {
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            list-style: none;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 200px;
                height: 260px;
                padding-bottom: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                text-align: center;

                img {
                    width: 100%;
                    object-fit: contain;
                }

                strong {
                    font-size: 20px;
                }
            }
        }
    }

    .paginas {
        p {
            margin-bottom: 20px;
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

    .github {
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0;

        a {
            border-color: black;
            margin-top: 20px;
            color: black;
        }
    }

    .pipeline {
        p {
            margin-bottom: 12px;
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

    .arquitetura-producao {
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0;

        p {
            margin-bottom: 12px;
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

    .api {
        p {
            margin-bottom: 12px;
        }

        a {
            border-color: black;
            margin-top: 20px;
            color: black;
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

    .videos {
        padding: 40px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0;

        h3 {
            text-align: center;
        }

        div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: 700px;
            margin-top: 20px;

            h4 {
                font-size: 24px;
                margin-top: 40px;
            }

            p {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.85);
            }

            iframe {
                width: 100%;
                height: 100%;
                object-fit: 16 / 9;
            }
        }
    }

    .making-of {
        .agrupamento {
            padding: 0 20px;

            div {
                margin-top: 40px;
                letter-spacing: .3px;
                line-height: 22px;

                h4 {
                    font-size: 18px;
                }

                p {
                    margin-top: 16px;
                }
            }
        }

        img {
            display: block;
            max-width: 700px;
            width: 100%;
            margin: auto;
            margin-top: 40px;
            object-fit: contain;
        }
    }

}


@media screen and (max-width: 1000px) {
    .main-sobre {
        .modelacao {
            .inferior {
                flex-direction: column-reverse;
                justify-content: center;
                gap: 40px;

                .esquerda {
                    width: 100%;
                }

                .direita {
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .main-sobre {
        .arquitetura-django {
            .superior {
                flex-direction: column-reverse;
                justify-content: center;
                gap: 40px;

                .esquerda {
                    width: 100%;
                }

                .direita {
                    width: 100%;
                }
            }
        }

        .videos {
            div {
                height: 380px;
            }
        }
    }
}