.main-sobre {
    max-width: 1200px;
    width: 100%;
    margin: auto;

    .botao {
        display: flex;
        gap: 12px;
        width: fit-content;
        padding: 14px 28px;
        border: 1px solid white;
        border-radius: 4px;
        font-weight: bold;
        text-decoration: none;
        word-spacing: 4px;
        transition: .3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .cabecalho {
        position: relative;
        width: 100%;
        min-width: 800px;
        height: 70vh;
        min-height: fit-content;

        img {
            width: 100%;
            object-fit: contain;
        }

        .conteudo {
            position: absolute;
            z-index: 1;
            top: clamp(20px, 7vw, 60px);
            left: clamp(12px, 5vw, 48px);
        }

        .destaque {
            width: fit-content;
            padding: 2px 4px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            background-color: rgba(255, 255, 255, 0.6);
            color: rgba(0, 0, 0, 0.9);
        }

        h1 {
            font-size: clamp(40px, 5vw, 60px);
            color: black;
        }

        .texto {
            max-width: 40%;
            width: 100%;
            margin: 32px 0;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.9);
        }

        .botoes {
            display: flex;
            gap: 20px;

            a {
                i {
                    display: flex;
                }

                &:first-child {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: black;
                }

                &:last-child {
                    background-color: rgba(255, 255, 255, 0.2);
                    color: black;
                }
            }
        }
    }

    .arquitetura-django {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        margin-top: 40px;

        h3 {
            margin-bottom: 24px;
            font-size: 28px;
        }

        .superior {
            display: flex;
            justify-content: space-between;

            .esquerda {
                width: 30%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    list-style-type: circle;
                    list-style-position: inside;

                    p {
                        margin-top: 4px;
                        font-size: 14px;
                    }
                }
            }

            .direita {
                width: 65%;

                .fluxo {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 16px;

                    .card {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 22px;
                            left: -17px;
                            width: 34px;
                            height: 2px;
                            background-color: rgba(0, 0, 0, 0.3);
                        }

                        &:first-child::after {
                            display: none;
                        }

                        i {
                            display: flex;
                            font-size: 20px;
                            padding: 12px;
                            border: 2px solid #439EAD;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .inferior {
            width: 100%;

            a {
                border-color: black;
                margin-top: 20px;
                color: black;
            }
        }


    }

    .modelacao {
        
    }
}


@media screen and (max-width: 800px) {
    .main-sobre {
        .arquitetura-django {
            .superior {
                flex-direction: column-reverse;
                justify-content: center;
                gap: 40px;

                .esquerda {
                    width: 100%;
                }

                .direita {
                    width: 100%;
                }
            }
        }
    }
}