@import url("novo-artigo.css");

.main-novo-artigo {
    section {
        form {
            .botoes {
                button.deletar {
                    background-color: #be352b;

                    &:hover {
                        background-color: #8d261f;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}