.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 460px 0 400px;
    margin-top: -109px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    background-image: url('/static/img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    section {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 780px;
        width: 100%;
        height: fit-content;
        padding: 24px;
        padding-bottom: 36px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(12px);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

        .esquerda {
            max-width: 380px;
            width: 100%;
        }

        .direita {
            overflow: hidden;
            position: relative;
            max-width: 300px;
            width: 100%;
            height: 440px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: fit-content;
                border-radius: 20px;
                object-fit: contain;
                object-position: center;
            }

            .gato,
            .gato-nome,
            .gato-senha,
            .gato-entrar,
            .gato-magico,
            .gato-criar,
            .gato-confirmar,
            .gato-registrar,
            .gato-cima,
            .gato-baixo,
            .gato-enviar {
                display: none;
            }

            .mostrar {
                display: block;
            }
        }

        h1 {
            text-align: center;
            font-size: 44px;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 8px;
        }

        .botao {
            cursor: pointer;
            padding: 14px;
            border: 1px solid #222;
            border-radius: 8px;
            font-size: 16px;
            background: #222;
            color: rgba(255, 255, 255, 0.9);
            text-align: center;
            text-decoration: none;
            transition: .3s ease;

            &:hover {
                border-color: #444;
                background-color: #444;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-top: 48px;

            input {
                padding: 14px;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 12px;
                font-size: 15px;
                background-color: rgba(255, 255, 255, 0.2);
                transition: .3s ease;

                &:focus {
                    outline: none;
                    border-color: #222;
                    background-color: rgba(255, 255, 255, 0.5);
                }

                &::placeholder {
                    color: rgba(0, 0, 0, 0.75);
                }
            }

            button {
                margin-top: 20px;
            }
        }

        .erro {
            position: absolute;
            z-index: 1;
            top: 96px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #c62828;
            font-weight: bold;
        }

        .links {
            margin-top: 14px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            text-align: center;

            .botao {
                text-decoration: none;
                background-color: transparent;
                color: #444;

                &:hover {
                    background-color: #444;
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
}


@media screen and (max-width: 850px) {
    .main-login {
        padding: 480px 0 400px;
    }

    section {
        max-width: 380px !important;
    }

    .direita {
        display: none !important;
    }
}