.main-artigos {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 40px;

    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 72px;

        h1 {
            position: relative;
            width: fit-content;
            font-size: clamp(36px, 6vw, 60px);
            letter-spacing: 1px;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        p {
            max-width: 500px;
        }
    }

    .doisPrimeiros {
        display: flex;
        gap: 20px;
    }

    .botaoArtigo {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1),
            inset 4px 4px 12px rgba(255, 255, 255, 0.3);
        transition: .3s ease;
    }

    .criarArtigo {
        font-size: 24px;
        text-decoration: none;
        background-color: #01903F;
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            background-color: #026c30;
        }
    }

    .user {
        position: absolute;
        top: -20px;
        left: 0;
        z-index: 1;
        display: flex;
        gap: 12px;

        .deletar,
        .editar {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.9);
        }

        .deletar {
            font-size: 32px;
            background-color: #EC4134;

            &:hover {
                background-color: #aa2e25;
            }
        }

        .editar {
            font-size: 20px;
            background-color: #8A857F;

            &:hover {
                background-color: #76736e;
            }
        }
    }

    .ultimasNoticias {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 8px 20px;
        margin-top: 100px;

        &::after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            width: 85%;
            height: 4px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .outrosArtigos {
        display: flex;
        flex-direction: column;
        gap: 28px;

        .ultimas {
            position: absolute;
            top: -36px;
            left: 0;
            letter-spacing: 1px;
        }
    }

    .topAutores {
        max-width: 160px;
        width: 100%;
        height: fit-content;

        h4 {
            margin-bottom: 12px;
        }

        .autor {
            display: flex;
            align-items: center;

            .count {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                padding: 4px;
                border-radius: 4px;
                margin-right: 16px;
                font-size: 12px;
                background-color: #191919;
                color: rgba(255, 255, 255, 0.9);
            }

            i {
                display: flex;
                margin-right: 8px;
            }
        }
    }

    .artigo {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        max-width: 800px;
        width: 100%;
        height: 360px;

        &:hover .titulo h3 {
            text-decoration: underline rgba(0, 0, 0, 1);
        }

        .conteudo {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 28px 20px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            box-shadow: 2px 0 4px rgba(0, 0, 0, 0.08);

            .superior {
                .titulo {
                    text-decoration: underline rgba(0, 0, 0, 0.1);
                }

                .feedback {
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    background-color: white;
                    color: rgba(0, 0, 0, 0.7);

                    .comentarios,
                    .like {
                        display: flex;
                        gap: 4px;
                    }

                    i {
                        display: flex;
                        font-size: 20px;
                    }
                }

                h3 {
                    font-size: 20px;
                    margin-bottom: 16px;
                    color: rgba(0, 0, 0, 0.9);
                }

                .texto {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.7);
                }
            }

            .inferior {
                position: relative;
                display: flex;
                justify-content: space-between;
                gap: 20px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -24px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .autor {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    i {
                        display: flex;
                        font-size: 20px;
                    }
                }

                .data {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.75);
                }
            }
        }

        .fotografia {
            position: relative;
            overflow: hidden;
            max-width: 400px;
            width: 100%;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            .fi-bs-up-right-from-square {
                position: absolute;
                z-index: 10;
                top: 8px;
                right: 8px;
                display: flex;
                padding: 4px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.8);
                color: black;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &.primeiro {
            flex-direction: row;
            gap: 28px;
            max-width: 800px;
            padding: 20px 0;

            .conteudo {
                width: 300px;
                box-shadow: none;

                .superior {
                    margin-bottom: 12px;

                    .feedback {
                        top: -4px;
                        right: 0;
                        flex-direction: column;
                    }
                }

                .recente {
                    display: flex;
                    gap: 8px;
                    width: fit-content;
                    padding: 8px 12px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 4px;
                    margin-bottom: 20px;
                    font-size: 12px;
                    letter-spacing: 1px;
                    background-color: #f9f9f9a5;
                }

                .like {
                    top: 0px;
                    right: -16px;
                    background-color: transparent;
                }

                h3 {
                    font-size: 26px;
                }

                .texto {
                    -webkit-line-clamp: 3;
                    line-height: 20px;
                }

                .inferior {
                    flex-direction: column;

                    &::after {
                        top: -10px;
                    }
                }
            }

            .fotografia {
                max-width: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.segundo {
            flex-direction: column-reverse;
            gap: 8px;
            width: 300px;
            padding: 20px 0;

            .conteudo {
                height: 174px;
                padding: 0;
                box-shadow: none;

                .feedback {
                    top: -4px;
                    right: 0;
                }

                .like {
                    top: 0;
                }

                .texto {
                    -webkit-line-clamp: 3;
                    line-height: 20px;
                }

                .inferior {
                    flex-direction: row;

                    &::after {
                        top: -6px;
                    }
                }
            }

            .fotografia {
                height: 186px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .main-artigos {
        .cabecalho {
            flex-wrap: wrap;
        }

        .doisPrimeiros {
            flex-wrap: wrap;
        }
    }
}