{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'artigos/styles/artigos.css' %}">
{% endblock %}

{% block content %}
<main class="main-artigos">
    <div class="cabecalho">
        <h1>New York PW</h1>

        {% if is_autor %}
        <a class="criarArtigo botaoArtigo" href="{% url 'novo_artigo' %}">+</a>
        {% endif %}

        <div class="apresentacao">
            <p>
                Um espaço sereno para pensamentos sem pressa. Sem distrações — apenas reflexões, significado e
                curiosidade silenciosa
            </p>

        </div>
    </div>

    {% for artigo in artigos %}

    {% if forloop.first %}

    <article class="doisPrimeiros">
        <section class="artigo primeiro">
            {% if is_autor %}
            <div class="user">
                <a class="deletar botaoArtigo" href="{% url 'apaga_artigo' artigo.id %}">-</a>
                <a class="editar botaoArtigo" href="{% url 'edita_artigo' artigo.id %}"><i
                        class="fi fi-rr-file-edit"></i></a>
            </div>
            {% endif %}

            <div class="conteudo">
                <div class="superior">
                    <p class="recente"><i class="fi fi-sr-fire-flame-curved"></i>Mais Recente</p>

                    <div class="feedback">
                        <p class="like"><i class="fi fi-rs-social-network"></i>{{ artigo.total_likes }}</p>
                        <p class="comentarios"><i class="fi fi-rs-comments"></i>{{ artigo.comentarios.all|length }}</p>
                    </div>

                    <a href="{% url 'artigo' artigo.id %}">
                        <h3>{{ artigo.titulo }}</h3>
                    </a>
                    <p class="texto">{{ artigo.texto }}</p>
                </div>

                <div class="inferior">
                    <div class="autor">
                        <i class="fi fi-rr-circle-user"></i>
                        <p>{{ artigo.autor }}</p>
                    </div>

                    <p class="data">{{ artigo.data_criacao }}</p>
                </div>
            </div>

            {% if artigo.fotografia %}
            <img src="{{ artigo.fotografia.url }}" alt="{{ artigo.titulo }}">
            {% else %}
            <img src="{% static 'img/sem-imagem.avif' %}" alt="Sem imagem">
            {% endif %}
        </section>

        {% elif forloop.counter == 2 %}

        <section class="artigo segundo">
            {% if is_autor %}
            <div class="user">
                <a class="deletar botaoArtigo" href="{% url 'apaga_artigo' artigo.id %}">-</a>
                <a class="editar botaoArtigo" href="{% url 'edita_artigo' artigo.id %}"><i
                        class="fi fi-rr-file-edit"></i></a>
            </div>
            {% endif %}

            <div class="conteudo">
                <div class="superior">
                    <p class="like"><i class="fi fi-rs-social-network"></i>{{ artigo.total_likes}}</p>

                    <h3>{{ artigo.titulo }}</h3>

                    <p class="texto">{{ artigo.texto }}</p>
                </div>

                <div class="inferior">
                    <div class="autor">
                        <i class="fi fi-rr-circle-user"></i>
                        <p>{{ artigo.autor }}</p>
                    </div>

                    <p class="data">{{ artigo.data_criacao }}</p>
                </div>
            </div>

            {% if artigo.fotografia %}
            <img src="{{ artigo.fotografia.url }}" alt="{{ artigo.titulo }}">
            {% else %}
            <img src="{% static 'img/sem-imagem.avif' %}" alt="Sem imagem">
            {% endif %}
        </section>
    </article>

    <article class="ultimasNoticias">
        <article class="outrosArtigos">
            <div class="ultimas">
                # Últimas Notícias
            </div>

            {% else %}
            <section class="artigo">
                {% if is_autor %}
                <div class="user">
                    <a class="deletar botaoArtigo" href="{% url 'apaga_artigo' artigo.id %}">-</a>
                    <a class="editar botaoArtigo" href="{% url 'edita_artigo' artigo.id %}"><i
                            class="fi fi-rr-file-edit"></i></a>
                </div>
                {% endif %}

                <div class="conteudo">
                    <div class="superior">
                        <p class="like"><i class="fi fi-rs-social-network"></i>{{ artigo.total_likes}}</p>

                        <h3>{{ artigo.titulo }}</h3>

                        <p class="texto">{{ artigo.texto }}</p>
                    </div>

                    <div class="inferior">
                        <div class="autor">
                            <i class="fi fi-rr-circle-user"></i>
                            <p>{{ artigo.autor }}</p>
                        </div>

                        <p class="data">{{ artigo.data_criacao }}</p>
                    </div>
                </div>

                {% if artigo.fotografia %}
                <img src="{{ artigo.fotografia.url }}" alt="{{ artigo.titulo }}">
                {% else %}
                <img src="{% static 'img/sem-imagem.avif' %}" alt="Sem imagem">
                {% endif %}
            </section>
            {% endif %}
            {% if forloop.last and forloop.counter >= 2 %}
        </article>

        <article class="topAutores">
            <h4>Top Autores</h4>
            {% for autor in autores %}
            <div class="autor">
                <p class="count">{{ forloop.counter }}</p>
                <i class="fi fi-rr-circle-user"></i>
                <p>{{ autor.username }}</p>
            </div>
            {% endfor %}
        </article>
    </article>
    {% endif %}

    {% endfor %}

</main>
{% endblock %}