{% extends 'portfolio/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'artigos/styles/artigo.css' %}">
{% endblock %}

{% block content %}
<main class="main-artigo">
    {% if artigo.fotografia %}
    <img src="{{ artigo.fotografia.url }}" alt="{{ artigo.titulo }}">
    {% else %}
    <img src="{% static 'img/sem-imagem.avif' %}" alt="Sem imagem">
    {% endif %}

    <h3>{{ artigo.titulo }}</h3>

    <div class="info">
        <div class="autor">
            <p>Por:</p>
            <i class="fi fi-rr-circle-user"></i>
            <p>{{ artigo.autor }}</p>
        </div>

        <p class="data">{{ artigo.data_criacao }}</p>
    </div>

    <p class="texto">{{ artigo.texto }}</p>

    <div class="feedback">
        <a href="{% url 'like_artigo' artigo.id %}"><i class="fi fi-rs-social-network"></i>{{ artigo.total_likes }}</a>
        <p><i class="fi fi-rs-comments"></i>{{ artigo.comentarios.all|length }}</p>
    </div>

    <form action="{% url 'comentario' artigo.id %}" method="post">
        {% csrf_token %}

        {{ comentario_form.texto }}

        <button type="submit">
            Comentar
        </button>
    </form>

    {% for comentario in comentarios %}
    <div class="comentario">
        <strong>{{ comentario.autor.username }}</strong>

        <small>{{ comentario.data }}</small>

        <p>{{ comentario.texto }}</p>
    </div>
    {% empty %}
    <p>Ainda não existem comentários. Seja o primeiro a comentar!</p>
    {% endfor %}
</main>
{% endblock %}